In [18]:
import pymongo;
conn=pymongo.MongoClient("mongodb://localhost:27017")
db=conn["college"]
col=db["studlist"]

In [57]:
x=db.studlist.find({"name.fname":{"$regex":"^V"}})
for i in x:
    print(i)

{'_id': 3, 'name': {'fname': 'Varun', 'lname': 'Nair'}, 'address': {'house_name': 'Koustubham', 'city': 'Thiruvananthapuram'}, 'gender': 'male', 'course': 'MCA', 'mark': 70, 'grade': 'B+', 'phone': {'type': 'land', 'no': '04712662690'}}
{'_id': 4, 'name': {'fname': 'Vidhya', 'lname': 'S'}, 'address': {'house_name': 'MRS House', 'city': 'Kadakkavoor'}, 'gender': 'female', 'course': 'Civil', 'mark': 85, 'grade': 'A', 'phone': {'type': 'mobile', 'no': 8146321420}}
{'_id': 7, 'name': {'fname': 'Vivek', 'lname': 'Bose'}, 'address': {'house_name': 'Kallu', 'city': 'Ernakulam'}, 'gender': 'male', 'course': 'MCA', 'mark': 60, 'grade': 'B', 'phone': {'type': 'land', 'no': '04842663890'}}
{'_id': 10, 'name': {'fname': 'Vimal', 'lname': 'Vinayan'}, 'address': {'house_name': 'Vimala Bhavan', 'city': 'Kollam'}, 'gender': 'male', 'course': 'Mechanical', 'mark': 90, 'grade': 'A+', 'phone': {'type': 'mobile', 'no': 8185399780}}
{'_id': 12, 'name': {'fname': 'Vimal', 'lname': 'Bose'}, 'address': {'house_name': 'Vimalam', 'city': 'Ernakulam'}, 'gender': 'male', 'course': 'MCA', 'mark': 90, 'grade': 'A+', 'phone': {'type': 'mobile', 'no': 9485399780}}
{'_id': 14, 'name': {'fname': 'Vinod', 'lname': 'Paniker'}, 'address': {'house_name': 'Deepam', 'city': 'Ernakulam'}, 'gender': 'male', 'course': 'MCA', 'mark': 70, 'grade': 'B', 'phone': {'type': 'mobile', 'no': 9445399787}}
{'_id': 17, 'name': {'fname': 'Vidhya', 'lname': 'Sugunan'}, 'address': {'house_name': 'vidhya vilasam', 'city': 'Thiruvananthapuram'}, 'gender': 'female', 'course': 'MCA', 'mark': 79, 'grade': 'B+', 'phone': {'type': 'land', 'no': '04712647790'}}

In [52]:
x=db.studlist.find({"mark":{"$gt":80,"$lt":90}})
for i in x:
    print(i["name"])

{'fname': 'Vidhya', 'lname': 'S'}
{'fname': 'Yadu', 'lname': 'Kannan'}
{'fname': 'Renuka', 'lname': 'Vijayan'}
{'fname': 'Remya', 'lname': 'V'}

In [38]:
x=db.studlist.find({"course":"Mechanical"}).sort("mark",-1).limit(3)
for i in x:
    print(i)

{'_id': 8, 'name': {'fname': 'Kavya', 'lname': 'Mohan'}, 'address': {'house_name': 'Kavyanjali', 'city': 'Kollam'}, 'gender': 'female', 'course': 'Mechanical', 'mark': 95, 'grade': 'A+', 'phone': {'type': 'mobile', 'no': 9448399780}}
{'_id': 10, 'name': {'fname': 'Vimal', 'lname': 'Vinayan'}, 'address': {'house_name': 'Vimala Bhavan', 'city': 'Kollam'}, 'gender': 'male', 'course': 'Mechanical', 'mark': 90, 'grade': 'A+', 'phone': {'type': 'mobile', 'no': 8185399780}}
{'_id': 6, 'name': {'fname': 'Yadu', 'lname': 'Kannan'}, 'address': {'house_name': 'Sreenilayam', 'city': 'Kollam'}, 'gender': 'male', 'course': 'Mechanical', 'mark': 85, 'grade': 'A', 'phone': {'type': 'mobile', 'no': 9446321780}}

In [33]:
x=db.studlist.find({"gender":"male","grade":"A+"})
for i in x:
    print(i["name"])

{'fname': 'Vimal', 'lname': 'Vinayan'}
{'fname': 'Vimal', 'lname': 'Bose'}
{'fname': 'Arun', 'lname': 'S'}

In [23]:
x=db.studlist.find({"course":"MCA"}).sort("mark",-1).limit(1)
for i in x:
    print(i)

{'_id': 20, 'name': {'fname': 'Amritha', 'lname': 'S'}, 'address': {'house_name': 'Arya Bhavan', 'city': 'Varkala'}, 'gender': 'female', 'course': 'MCA', 'mark': 99, 'grade': 'A+', 'phone': {'type': 'mobile', 'no': 9445365787}}

In [19]:
x=db.studlist.find({"gender":"female","course":"MCA"})
for i in x:
    print(i["name"],i["mark"])

{'fname': 'Athira', 'lname': 'Krishnan'} 80
{'fname': 'Divya', 'lname': 'Vijayan'} 70
{'fname': 'Renuka', 'lname': 'Vijayan'} 82
{'fname': 'Remya', 'lname': 'V'} 85
{'fname': 'Remya', 'lname': 'Sugunan'} 72
{'fname': 'Vidhya', 'lname': 'Sugunan'} 79
{'fname': 'Soorya', 'lname': 'S'} 79
{'fname': 'Amritha', 'lname': 'S'} 99
{'fname': 'Soorya', 'lname': 'P'} 74